/linkedLists
/rsc
/.idea

/TelegramChecker/regex_checker/options.json

/PythonWebBots/nohide_space/downloaded_files
/PythonWebBots/nohide_space/no-space.png
/PythonWebBots/nohide_space/nohide-space-message.txt


/test/stary_bordel
