/linkedLists
/rsc
/.idea
venv
/TelegramChecker/regex_checker/options.json
/python_pass_web_bots/build
/python_pass_web_bots/python_pass_web_bots.egg-info

/python_pass_web_bots/nohide_space/downloaded_files
/python_pass_web_bots/nohide_space/no-space.png
/python_pass_web_bots/nohide_space/nohide-space-message.txt
/python_pass_web_bots/nohide_space/docs

/test/stary_bordel
/TelegramChecker/user_config.py
/TelegramChecker/Makefile

/test/scripts/*/*/result.txt

/external_tools/AtlantrPython3/
/external_tools/Character-Frequency-CLI-Tool/
/external_tools/output/
/external_tools/pipal/
/external_tools/Password-Scripts_ex_tool/
