/linkedLists
/rsc
.idea
/.idea
venv
/TelegramChecker/regex_checker/options.json
/extended_tools

/python_pass_web_bots/nohide_space/downloaded_files
/python_pass_web_bots/nohide_space/no-space.png
/python_pass_web_bots/nohide_space/nohide-space-message.txt
/python_pass_web_bots/nohide_space/docs

/test/stary_bordel
/TelegramChecker/user_config.py
/TelegramChecker/Makefile
